body, html {
    height: 100%;
}
  
.square, .busy {
    width: 50px;    
    height: 50px;
    border: 1px solid black;
    float: left;
}
  
.clearfix {
    clear:both;
}
  
#w1 {
    margin: 10px auto;
    width: 520px;
    height: 520px;
    border: 5px solid black;
    grid-area: 1 / 1 / span 1 / span 2;
}

#w2 {
    margin: 10px auto;
    width: 520px;
    height: 520px;
    border: 5px solid black;
    grid-area: 1 / 3 / span 1 / span 2;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
  
.draggable {
    float:left;
    height: 52px;
    background-color: gray;
}
  
.long {
    width: 104px;
}
  
.short {
    width: 52px;
}
  
.draggable p {
    text-align: center;
    padding: -20px 0 0 0;
    font-weight:900;
}
  
.draggable.ui-draggable-dragging { background: red; }

.ship-1-hor {
    width: 50px;
    height: 50px;
}

.ship-2-hor {
    width: 102px;
    height: 50px;
}

.ship-2-ver {
    width: 50px;
    height: 102px;
}

.ship-3-hor {
    width: 154px;
    height: 50px;
}

.ship-3-ver {
    width: 50px;
    height: 154px;
}

.ship-4-hor {
    width: 206px;
    height: 50px;
}

.ship-4-ver {
    width: 50px;
    height: 206px;
}
  